<%include layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/index/index.css">
<div class="single main">
    <%include layout/header.ejs%>
    <%include layout/adver.ejs%>
    <%include layout/databox.ejs%>
    <%include model/login.ejs%>
</div>

<script src="/static/js/index/index.js"></script>
<%include layout/nullfooter.ejs%>