<%include ../layout/webheader.ejs%>
	
<link rel="stylesheet" href="/static/css/model/user.css">
<link rel="stylesheet" href="/static/css/layout/header.css">
<%include ../layout/header.ejs%>
<div class="fixed_Center">
    <div class="new_Content h100" style="position: relative;">
        <ul class="userLeft" id="userLeft">
            <li class="this_UserMenu">账号信息</li>
            <li>签章管理</li>
            <li>联系人管理</li>
        </ul>
        <div class="user_Con" id="user_Con">
            <div class="user_Fun ">
                <%include accinfo.ejs%>
            </div>
            <div class="user_Fun dino">
                <%include signinfo.ejs%>
            </div>
            <div class="user_Fun dino">
                <%include linkinfo.ejs%>
            </div>
        </div>
    </div>
</div>
<script src="/static/js/user/index.js"></script>
<script src="/static/js/user/canvasDrow.js"></script>
<%include ../layout/nullfooter.ejs%>