<%include ../../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/sign.css">
<%include ../layout/signheader.ejs%>
<div class="new_Content">
  <div class="sign_Con">
    <div class="single"><button class="back_Manage"><a href="/manage">返回合同管理</a></button></div>
    <div class="single sign_Box">
      <div class="sign_Left">
        <div class="sign_Intro">
          <p class="intro_Txt">Step1 合同信息：</p>
          <div class="intro_Signle">
            <span>合同名称：</span>
            <span id="contractName"></span>
          </div>
          <div class="intro_Signle">
            <span>截止日期：</span>
            <span id="endTime"></span>
          </div>
          <div class="intro_Signle">
            <span>备注：</span>
            <span class="bacDC" id="remark"></span>
          </div>
        </div>
        <div class="sign_Intro">
          <p class="intro_Txt">Step2 签署方：</p>
          <ul class="single intro_Signle" id="intro_Signle" ></ul>
        </div>
        <div class="sign_Intro">
          <p class="intro_Txt">Step3 提交签名：</p>
          <div class="sign_Img" id="sign_Img">
            <div class="drag_Box">
              <img src="" id="my_SignImg"  class="" alt="">
            </div>
          </div>
          <span class="intro_Drag">（左键点击拖动至右侧合适位置）</span>
          <button class="change_Btn" id="change_Btn">更改签章</button>
        </div>
      </div>
      <div class="sign_Right">
        <div class="MainBox" id="MainBox">
          <div class="DragBox" id="DragBox"></div>
          <img src="" id="showBase64" alt="">
          <div class="ImgBoxMain" id="ImgBoxMain"></div>
        </div>
        <div class="sign_Opr single">
          <button id="contractSigning_Ok">同意签署</button>
          <button id="contractSigning_No">拒绝签署</button>
        </div>
      </div>
    </div>
  </div>
</div>
<%include ../layout/addsignature.ejs%>
<%include ../layout/identity.ejs%>
<script src="/static/js/sign/passivity.js"></script>
<%include ../../layout/nullfooter.ejs%>