<%include ../../layout/webheader.ejs%>
<link rel="stylesheet" href="/static/css/model/sign.css">
<%include ../layout/signheader.ejs%>
<div class="new_Content">
  <div class="single info_Box">
    <div class="single info_IntroBox">
      <div class="info_Intro">
        <p><span>合同名称：</span><span>XXX合同</span></p>
        <p class="info_Look">（点击预览） </p>
        <p class="info_Look">（点击预览）</p>
      </div>
      <div class="info_Intro">
        <span>合同状态：</span>
        <span>双方签署完毕</span>
      </div>
      <div class="info_Intro">
        <span>合同编号：</span>
        <span>123456789</span>
      </div>
      <div class="info_Intro">
        <p class="w270">
          <span>发起时间：</span>
          <span>2018/01/01</span>
        </p>
        <span>签署时间：</span>
        <span>2018/01/01</span>
      </div>
      <div class="info_Intro">
        <p class="w270">
          <span>发起人：</span>
          <span class="w119">我</span>
        </p>
        <span>发起人账号（手机）：</span>
        <span>18888888888</span>
      </div>
    </div>
    <p class="info_Tit">签约主体信息：</p>
    <ul class="single info_List">
      <li class="single top">
        <span>签署主体</span>
        <span>签署方账号</span>
        <span>签署方公钥</span>
      </li>
      <li class="single">
        <span>我</span>
        <span>1231231231</span>
        <span>asdasdasdasd</span>
      </li>
      <li class="single">
        <span>张三</span>
        <span>324234234</span>
        <span>hfdhdfgdfsgdf</span>
      </li>
    </ul>
    <p class="info_Tit">合同存证信息：</p>
    <ul class="single info_List info_List_Two">
      <li class="single top">
        <span>合同状态</span>
        <span>文件Hash</span>
      </li>
      <li class="single">
        <span>单边签署</span>
        <span>fdgdfgdf</span>
      </li>
    </ul>
    <div class="single info_Botxt">
      <span>签署完成上链信息：</span>
      <a href="">www.blockcontrcat.com/1002</a>
      <span class="fs14">（点击在区块链浏览器中查询）</span>
    </div>
    <div class="single back_SignBtn">
      <button><a href="/passivesign">返回主页</a></button>
    </div>
  </div>
</div>
<%include ../../layout/nullfooter.ejs%>