<link rel="stylesheet" href="/static/css/layout/advertising.css">

<div class="single adver_Box">
  <div class="new_Content">
    <div class="single advertising">
      <img src="/static/img/layout/adv.png" class="advertImg" alt="">
      <div class="advCenter">
        <img src="/static/img/layout/txt.png" class="advtxt" alt="">
        <button class="startSignBtn" id="startSignBtn"><a href="/sign">发&nbsp;起&nbsp;签&nbsp;约</a></button>
      </div>
    </div>
  </div>
</div>
