<link rel="stylesheet" href="/static/css/layout/databox.css">
<div class="new_Content">
  <div class="dataBox">
    <ul class="dataList" id="dataList">
      <li data-status="2">
        <img src="/static/img/layout/10.png" alt="">
        <span class="dataNum" id="waitmine"></span>
        <span class="dataFlag">待我签</span>
      </li>
      <li data-status="3">
        <img src="/static/img/layout/20.png" alt="">
        <span class="dataNum" id="waitother"></span>
        <span class="dataFlag">待他人签</span>
      </li>
      <li data-status="1">
        <img src="/static/img/layout/30.png" alt="">
        <span class="dataNum" id="expire"></span>
        <span class="dataFlag">即将截止</span>
      </li>
    </ul>
  </div>
</div>
