<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1, maximum-scale=1,user-scalable=no">
    <title>Echonessy</title>
    <script src="/static/js/common/jquery.min.js"></script>
    <script src="/static/js/common/fontSize.js"></script>
    <link rel="stylesheet" href="/static/plugin/layui/css/layui.css">
    <script src="/static/plugin/layui/layui.js"></script>
    <script>
        $(function () {
            layui.use('layer',function () {});
        })
    </script>
    <script src="/static/plugin/layui/lay/modules/element.js"></script>
    <script src="/static/plugin/layui/lay/modules/form.js"></script>
    <link rel="stylesheet" href="/static/plugin/swiper/swiper.min.css">
    <script src="/static/plugin/swiper/swiper.min.js"></script>
    <link rel="stylesheet" href="/static/plugin/bootstrap/css/bootstrap.css">
    <script src="/static/plugin/bootstrap/js/bootstrap.js"></script>
    <link rel="stylesheet" href="/static/plugin/jqUI/jquery-ui.css">
    <script src="/static/plugin/jqUI/jquery.js"></script>
    <script src="/static/plugin/jquery.form.js"></script>
    <script src="/static/plugin/jqUI/jquery-ui.js"></script>

    <link rel="stylesheet" href="/static/plugin/sweetalert/dist/sweetalert.css">
    <script src="/static/plugin/sweetalert/dist/sweetalert.min.js"></script>
    <link rel="stylesheet" href="/static/css/common.css">
    <script src="/static/js/common/common.js"></script>
    <link rel="stylesheet" href="/static/plugin/corp/cropper.css">
    <script src="/static/plugin/corp/cropper.js"></script>
</head>
<body >
