<link rel="stylesheet" href="/static/css/model/login.css">
<div class="loginMain dino" id="loginMain">
    <div class="loginBox">
        <div class="single inputBox">
            <input type="text" id="phone" class="input1" maxlength="11" placeholder="请输入手机号码">
        </div>
        <div class="single inputBox">
            <input type="text" id="verifyCode" class="input2" placeholder="请输入验证码">
            <button class="sendTxt" id="getVerifyCode">发送验证码</button>
        </div>
        <button class="loginBtn" id="login">登&nbsp;&nbsp;录</button>
        <button class="loginBtn"><a href="/register">注&nbsp;&nbsp;册</a></button>
    </div>
</div>
